<div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog"
aria-labelledby="{{modalId}}lLabel" aria-hidden="true">
<div class="modal-dialog modal-{{modal.size}}" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="{{modalId}}lLabel">{{modal.title}}</h5>
           <button (click)="hideModal(true)" type="button" class="close" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <div class="modal-body">
           {{modal.body}}
       </div>
       <div class="modal-footer">
           <button (click)="hideModal(false)" type="button" class="btn btn-secondary">Cancel
           </button>
           <button (click)="hideModal(true)" type="button" class="btn btn-default">Ok
           </button>
       </div>
   </div>
</div>
</div>